.CollectionWrapper {
  width: 99%;
  min-height: 345px;
  border-radius: 20px;
  padding: 0.3% 1.5%;
  border: 1px rgba(255, 255, 255, 0) solid;
  box-sizing: border-box;
  transition: box-shadow 0.5s;
}
.CollectionWrapper:hover {
  box-shadow: 0 0 25px -20px rgb(255, 255, 255);
}

.CollectionHeader {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  box-sizing: border-box;
  transition: all 0.5s;
}
.CollectionHeader button {
  all: unset;
  cursor: pointer;
}

.collectionBody {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.FirstLayerWrapper {
  height: 250px;
  width: 90%;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 20px 0px 15px -20px rgba(0, 0, 0, 0.75) inset,
    -20px 0px 15px -20px rgba(0, 0, 0, 0.75) inset;
}

.Collection {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 0 10px;
  transition: transform 0.5s;
}
.collection-item {
  position: relative;
  border: 0.1px #1c1b2977 solid;
  border-radius: 20px;
  height: 90%;
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
  transition: box-shadow 0.3s;
}
.collection-item:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.616),
    0px 0px 5px 1px rgba(210, 235, 255, 0.45);
}
.collection-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collected-item-title {
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  display: none;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, black, transparent);
  cursor: pointer;
  overflow: hidden;
  transition: height 0.5s;
}
.collection-item:hover .collected-item-title {
  height: 100%;
}
.collected-item-title h5 {
  text-shadow: 0 0 5px black;
  width: 70%;
  text-align: center;
}
.SecondLayerWrapper::-webkit-scrollbar {
  height: 7px;
}
.deleteCollectionItem {
  position: absolute;
  top: 5%;
  right: 5%;
  filter: drop-shadow(0 0 15px rgb(0, 0, 0));
  text-shadow: 0 0 15px black;
}
.collectionBody button {
  all: unset;
}
.collectionBody button,
.collectionBody svg {
  cursor: pointer;
}

.titleEditorForm {
  width: 40%;
  margin: 0.83em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px white solid;
}
#titleEditor {
  background-color: transparent;
  outline: none;
  border: none;
  color: white;
  width: 80%;
  font-size: 1.5em;
  box-sizing: border-box;
}
.titleEditorForm:focus-within {
  box-shadow: 0 -20px 10px -20px rgba(255, 255, 255, 0.342) inset;
}

.CollectionHeader h2 {
  display: flex;
  width: fit-content;
  justify-content: space-between;
  align-items: center;
}
.editBtn {
  display: none;
  margin-bottom: auto;
  color: rgba(255, 255, 255, 0.788);
}
.CollectionHeader:hover .editBtn {
  display: inline;
}
