@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  --size: 250px;
  --speed: 50s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);

  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 5));
  background-image: linear-gradient(hsl(158, 82%, 57%), hsl(252, 82%, 57%));
  animation: rotate var(--speed) var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  /* position: absolute;
  margin: auto; */
}

@media (min-width: 720px) {
  .gradient {
    --size: 500px;
  }
}
.Hero {
  position: absolute;
  inset: 0;
  display: flex;
  place-content: center;
  align-items: center;
  overflow: hidden;
  gap: 10%;
  margin: auto;
  transition: all 0.7s;
  overflow: visible;
}

.gradient {
  transition: all 1s ease-out;
}
.Hero h1 {
  font-size: 4rem;
  /* color: rgba(252, 251, 255, 0.911); */
  color: #e7eef4;
  mix-blend-mode: difference;
  z-index: 1;
  width: 300px;
}
.HeroWrapper {
  position: relative;
  height: 650px;
}
