.Notifications {
  position: fixed;
  right: 0;
  bottom: 10vh;
  height: 70px;
  background-color: #11111afa;
  border-radius: 30px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 5px;
  box-sizing: border-box;
  border: 1px #28283d8f solid;
  transition: width 1s;
  z-index: 999;
}
.notifWrapper {
  width: 20vw;
  min-width: 20vw;
  max-width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
