.omniVersePlayer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 10vh;
  background-image: linear-gradient(
    to top,
    #1c1b29,
    #1a1926,
    #181824,
    #171621,
    #15141f
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  z-index: 105;
  box-shadow: rgba(17, 17, 26, 0.596) 0px -10px 16px;
  box-sizing: border-box;
}
.play-pause {
  all: unset;

  cursor: pointer;
}
.nextOnQueue,
.previousOnQueue {
  all: unset;
  cursor: pointer;
}
.volumeSet {
  width: 10vw;
}
.volumeSet,
.progressBar {
  text-align: center;
}
.progressBar {
  width: 60%;
}
.volumeSet input,
.progressBar input {
  appearance: none;
  border-radius: 10px;
  height: 5px;
  width: 100%;
  background-color: #000013;
}
.volumeSet input::-webkit-slider-thumb,
.progressBar input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
.TrackCover {
  width: 60px;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
}
.refreshYoutube {
  cursor: pointer;
}
