.Releases {
  width: 95%;
  height: 90px;
  margin: 5px auto;
  padding: 0 15px;
  /* border-radius: 10px; */
  /* background-color: rgba(233, 241, 255, 0.068); */
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.616); */
  /* border-top: 1px white solid;
  border-bottom: 1px white solid; */
  transition: box-shadow 0.3s;
  box-sizing: border-box;
}
.Releases:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.616),
    0px 10px 5px -10px rgba(210, 235, 255, 0.45),
    0px -10px 5px -10px rgba(210, 235, 255, 0.45);
}
.Releases .release {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.release .albumTitle {
  width: 80%;
  overflow: hidden;
}
.release img {
  height: 80%;
  width: 75px;
  object-fit: cover;
  border-radius: 5px;
}
.release .btns {
  width: 15%;
  display: flex;
  justify-content: center;
  gap: 10%;
}
.bookmarkingBtn {
  all: unset;
  cursor: pointer;
}
